body {
  /* background-color: rgb(249, 253, 255); */
  background-color: #262626;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: rgb(249, 253, 255); */
  background-color: #262626;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.memoDiv,
.loginDiv {
  display: none;
}

button {
  all: unset;
  background-color: white;
  cursor: pointer;
  padding: 3px;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 2px;
}

button:active,
.logout:active {
  transform: scale(0.95);
}

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

button:hover {
  box-shadow: 0px 0px 3px 2px rgba(108, 159, 255, 0.4);
}

.mainTitle {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}

.loginForm > input {
  all: unset;
  width: 200px;
  height: 30px;
  background-color: white;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

.loginMsg {
  font-weight: bold;
  color: red;
}
