.memoForm,
.memoObj {
  all: unset;
  background-color: rgba(221, 221, 221, 0.8);
  display: inline-block;
  padding: 3px;
  margin: 5px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 3px;
  animation: fadeIn 0.3s linear;
}

.memoForm {
  width: 300px;
}

.memoListDiv {
  width: 1080px;
}

.memoTable {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.memoForm > .memoTitle,
.memoObjTitle {
  all: unset;
  width: 160px;
  font-weight: bold;
}

.memoForm > textarea,
.memoObjContent {
  all: unset;
  width: 300px;
  height: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: break-word;
  width: 200px;
}

.colorPalette {
  display: inline-block;
  flex-direction: column;
}

.colorButton {
  display: inline-flex;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin: 3px;
  margin-top: 0px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

.colorButton:hover {
  opacity: 0.5;
}

.sortDiv {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
}

.sortDiv > div {
  display: flex;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.sortDiv > input {
  display: flex;
}

.checked {
  transform: scale(1.25);
}
